
	
    html {
      font-family: Arial, 'sans-serif';
	  //display: flex;
	  margin: 0;
	  //height: 100%;
	  //background-color: #DDEAF3;
	  //background-color: #eeEAF3;
	  //background: rgb(255,203,48);
	  //background: linear-gradient(180deg, rgba(255,255,148,1) 0%, rgba(0,212,255,1) 100%) no-repeat fixed; 
	  background: url("bg.jpg") no-repeat center fixed;
	  background-size: cover;
	  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
	  }

	  body {
		  //margin: 0;
		  padding: 1em;
	  }
	
	.project {
	  width: 15em;
	  height: 15em;
	  background: #aaa;
	  margin: 1em;
	  padding: .4em;
	  display: block;
	  float: left;
	  position: relative;
	  border-radius: .5em;
	  text-shadow: 1px 1px 4px black;
	}
	
	.project > span {
	  font-weight: bold;
	  font-variant: small-caps;
	}
	
	
	.project > .tags {
	  display: block;
	  position: absolute;
	  right: 0;
	  bottom: 0;
	  margin: .4em;
	  font-size: .75em;
	  font-weight: normal;
	  font-variant: small-caps;
	  color: #fff;
	  
	}
	
	.project > span > a {
		color: #fff;
		text-decoration: none;
	}
	
	#container {
		//margin: 1em;
		padding: 0 0 1em 0;
		background: #ffffff88;
		
		
		border-radius: 1em;
	}
	
	#output {
	  //display: flex;
	  justify-content: center;
	  margin: 0 auto;
	  align-self: center;
	  height: 100%;
    }
	
	.projlink {
		display: block;
		height: 100%;
		width: 100%;
	}

	h1 {
	  text-align: center;
	  margin: 0;
	}
	
	fieldset {
	  //border-radius: 1em;
	  //margin-top: 2em;
	  background-color: #ffffff88;
	  text-align: center;
	  
	  border-style: none;
	  //box-shadow: 2px 2px 0px #eeeeee;
	  margin: 1.5em 0 1.5em 0;
	  
	}
	
	fieldset > fieldset {
	  border-style: 1px #000;
	  background-color: #cffeee;
	  background: rgba(255,255,148,1);
	  background: #ffffff44;
	  margin: 1em;
	  padding: .5em;
	}
	
	fieldset > fieldset > fieldset {
	  background-color: #bfeeee;
	}
	
	fieldset > fieldset > fieldset > fieldset {
	  background-color: #9fdddd;
	}
	
	input {
	  width: 2em;
	  height: 2em;
	  margin-left: 1em;
	}
	
	/*
	.tag > span {
	  display: table-cell;
	  //margin: 0 1em 0 0;
	  vertical-align: middle;
	  padding: 0;
	}
	*/
	
	.tag > label {
	  //display: block ruby;
	  //width: 8em;
	  //float: left;
	  padding: .3em;
	  //line-height: 20em;
	  //margin: .5em;
	  //height: 3em;
	  //border: 1px solid black;
	}
	
	.tag > label > span {
	  display: table-cell;
	  //margin: 0 1em 0 0;
	  vertical-align: middle;
	  padding: 0;
	}	

	
	
	.tag {
		border-radius: .3em;
		vertical-align: middle;
		background: #ffffffcc;
		display: block;
		float: left;
		//padding: .4em .4em .4em .8em;
		margin: .5em; 
		padding: .2em;
	}
	
	.tag:hover {
		background: #ffffffff;
	}
	
	legend {
	  font: bold 20px Verdana;
	  color: #333;
	}
	
	#title {
		padding-top: 3em;
		color: #fff;
	}
	
	#mainfieldset {
		margin: 0 1em 1em 1em;
		border-radius: 0 0 1em 1em;
		clear: both;
		
	}
	
	#header {
		padding: 0;
		margin: 0;
		min-height: 100px;
		height: 162px;
		color: #ffffffee;
		//color: #ffffff;
		text-align: left;
		background: url('./header.png') no-repeat;
		background-size: contain;
		background-position: center;
		border-radius: 1em 1em 0 0;
	}
	
	#headertext {
		font-family: Lucida Fax;
		font-size: 3.5em;
		padding: .1em;
		//float: left;
	}
	
	
	#header div {
		//float: left;
	}
	
	#menu {
		overflow: hidden;
		background: #efefefbb;
		padding: 0;
	}
	
	#menu div:first-child {
		background: #efefefdd;
	}
	
	#menu a {
		text-decoration: none;
		color: #000;
	}
	
	#menu div {
		margin: 0 0 0 0;
		padding: 1em;
		float: left;
	}
	
	#menu div:hover {
		background: #efefefdd;
	}
	
	#torso {
		background: url("./bendyturningtorso/thumb.jpg");
		background-size: 100% 100%;
	}
	
	#seagullsculptures {
		background: url("./seagullsculptures/thumb.jpg");
		background-size: 100% 100%;
	}
	
	#marchingstatues {
		background: url("./marchingbandofstortorget/thumb.jpg");
		background-size: 100% 100%;
	}
	
	#watertowerufo {
		background: url("./watertowerufo/thumb.jpg");
		background-size: 100% 100%;
	}
	
	#ttsolarigraphy {
		background: url("./ttsolarigraphy/thumb.jpg");
		background-size: 100% 100%;
	}
	
	#divingseagull {
		background: url("./divingseagull/thumb.jpg");
		background-size: 100% 100%;
	}
	
	#jumpingearthworms {
		background: url("./jumpingearthworms/thumb.jpg");
		background-size: 100% 100%;
	}
	
	#helicopterwindmills {
		background: url("./helicopterwindmills/thumb.jpg");
		background-size: 100% 100%;
	}
	
	#sunflower {
		background: url("./sunflower/thumb.jpg");
		background-size: 100% 100%;
	}
	
	#story {
		margin: 0;
		padding: 2em;
		font-size: 1.3em;
		text-align: left;
	}
	
	#story span {
		display: inline-block;
		margin-top: .5em;
	}
	
	#story a {
		text-decoration-thickness: .08em;
		text-decoration-style: dotted;
		color: #6666ff;
	}
	